h1,h2 {
    color: teal;
    background-color: rgb(89, 151, 0);
    text-align: right;
    width: 50%;
    font-weight: 900;
    letter-spacing: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: red;
    background: lightblue;
    font-weight: bold;
    text-decoration: #f78120 underline wavy;
    line-height: 2;
}

a {
    text-decoration: none;
}

body {
    background-color: #f1faee;
}

#button2 {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
}

li a {
    color: green;
}