<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <!-- <h1 style="color: purple">Hello World</h1> -->
    <!-- <buttom style="background-color: palegreen">I am BUTTON</buttom> -->
    <h2>I am h2</h2>
    <h2>I am h2</h2>
    <h2>I am h2</h2>
    <h2>I am h2</h2>
    <h2>I am h2</h2>
    <h2>I am <a>h2</a></h2>

    <button>buttpn1</button>
    <button id="button2">button2</button>

    <p>dfjalkfdsjfs <a>molluscs</a> lkjsalkfdjkl
    <span class="tag">funny</span>

    <span class="tag">guner</span>

    <span class="tag">dog</span>

    fdajdlksjfdsalkfjsflsafdasjfflkajfalkfjaf;lk</p>

    <li>
        <a>123</a>
    </li>

</body>
</html>